<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <header>
    <nav align="center">
      <a class="active" href="/" <%- title === 'Home' ? 'class="active"' : '' %>>Home</a>
      &nbsp;
      <a class="active" href="/about" <%- title === 'About' ? 'class="active"' : '' %>>About</a>
      &nbsp;
    <% if (user) { %>
      <a href="/budgets"  <%- title === 'Budgets' ? 'class="active"' : '' %>>Budgets</a>
      &nbsp;
      <a href="/logout">Log Out</a>
      &nbsp;
    </nav>
    <% } else { %>
      <a href="/auth/google" id="login">Log In<img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"></a>
    <% } %>
  </header>
  <body>
    <h1 align="center"><%= title %></h1>
    <br>
