<%- include('../partials/header') %>

<h3><%= category.name %></h3>
<form action="/budgets/<%= budgetId %>/categories/<%= category._id %>?_method=PUT" method="POST">
    <label>Transaction Date:
        <input type="date" name="date" value="<%= category.date.toISOString().split('T')[0] %>">
    </label><br><br>
    <label>Amount:
        <input data-type="currency" name="amount" value="<%=category.amount%>">
    </label><br><br>
    <label>Notes:
        <input name="note" value="<%=category.note %>">
    </label><br><br>
    <button type="submit">Update</button>
</form>

<%- include('../partials/footer') %>