<%- include('../partials/header') %>

<h3><%= category.name %></h3>
<form action="/categories/<%= category.id %>?_method=PUT" method="POST">
    <label>Transaction Date:
        <input type="date" name="date" value="<%= category.date%>">
    </label><br><br>
    <label>Amount:
        <input data-type="currency" name="amount" placeholder="$0">
    </label><br><br>
    <label>Notes:
        <input name="note">
    </label><br><br>
    <button type="submit">Update</button>
</form>

<%- include('../partials/footer') %>