<%- include('../partials/header') %>

<br>
<h2 align="center">All Categories</h2>
<br>
<div class="container">
<table id="categories-table" class="table table-striped">
    <thead align="center">
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Budget Amount</th>
        <th>Actual Amount</th>
        <th>Note</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        <% categories.forEach(function(c) { %>
            <tr>
              <td><%= c.name %></td>
              <td><%= c.date %></td>
              <td>$<%= c.budgetAmt %></td>
              <td>$<%= c.actualAmt %></td>
              <td><%= c.note %></td>
              <td>
                <form action="/budgets/<%= budgetId %>/categories/<%= c._id %>/edit" method="GET">
                  <button type="submit"><img src="https://pixsector.com/cache/c5433603/av741f3e5fd1c88304cf8.png" height="30" width="30"></button>
                </form>
              </td>
              <td>
                <form action="/budgets/<%= budgetId %>/categories/<%= c._id%>?_method=DELETE" method="POST">
                  <button type="submit"><img src="https://www.iconpacks.net/icons/1/free-trash-icon-347-thumb.png" height="30" width="30"></button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <br>
      <form action="/budgets/<%= budgetId %>/categories/new" method="GET">
        <button type="submit">Add New Category</button>
      </form>
      <br>
      <form action="/budgets/<%= budgetId %>" method="GET">
        <button type="submit">Return to Budget</button>
      </form>
      <br>
  </div>
<%- include('../partials/footer') %>