<%- include('../partials/header') %>

<h3>All Categories</h3>
<form action="/budgets/<%= budgetId %>/categories/new" method="GET">
  <button type="submit">Add New Category</button>
</form>
<br>
<table id="categories-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Note</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        <% categories.forEach(function(c) { %>
            <tr>
              <td><%= c.name %></td>
              <td><%= c.date.toISOString().split('T')[0] %></td>
              <td>$<%= c.amount %></td>
              <td><%= c.note %></td>
              <td>
                <form action="/budgets/<%= budgetId %>/categories/<%= c._id %>/edit" method="GET">
                  <button type="submit"><img src="https://pixsector.com/cache/c5433603/av741f3e5fd1c88304cf8.png"></button>
                </form>
              </td>
              <td>
                <form action="/budgets/<%= budgetId %>/categories/<%= c._id%>?_method=DELETE" method="POST">
                  <button type="submit"><img src="https://www.iconpacks.net/icons/1/free-trash-icon-347-thumb.png"></button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

<%- include('../partials/footer') %>