<%- include('../partials/header') %>
<br>
<h2><u>My Budgets</u></h2>
    <ul>
      <br>
      <% budgets.forEach(function(b) { %>
        <li>
          <td><a href="/budgets/<%= b._id %>"><%= b.month %> <%= b.year %></td>
        </li>
        <% }) %>
    </ul>

    <br>
    <form action="/budgets/new" method="GET">
      <button type="submit">Create New Budget</button>
    </form>
    <br>

<%- include('../partials/footer') %>