<%- include('../partials/header') %>

<h3>All Budgets</h3>
<form action="/budgets/new" method="GET">
  <button type="submit">Create New Budget</button>
</form>
<br>

    <ul>
      <% budgets.forEach(function(b) { %>
        <li>
          <td><a href="/budgets/<%= b._id %>"><%= b.month %> <%= b.year %></td>
        </li>
        <% }) %>
    </ul>

<%- include('../partials/footer') %>