<%- include('../partials/header') %>

<h3>My Budgets</h3>

    <ul>
      <% budgets.forEach(function(b) { %>
        <li>
          <td><a href="/budgets/<%= b._id %>"><%= b.month %> <%= b.year %></td>
        </li>
        <br>
        <% }) %>
    </ul>

    <br>
    <form action="/budgets/new" method="GET">
      <button type="submit">Create New Budget</button>
    </form>
    <br>

<%- include('../partials/footer') %>