<%- include('../partials/header') %>

<h3><%=budget.month%> <%=budget.year%> Budget</h3>
<br>
<table>
    <thead>
    <tr>
        <th>Category</th>
        <th></th>
        <th>Amount</th>
        <th></th>
        <th>% of Income</th>
    </tr>
    </thead>
    <tbody>
        <% category.forEach(function(c) { %>
            <tr>
            <% if(c.name === "Income") { %>
                <td style="color: rgb(65, 192, 65)"><%= c.name %></td>
                <td></td>   
                <td style="color: rgb(65, 192, 65)"><%= c.amount %></td>   
                <% } else { %>
                <td style="color: red"><%= c.name%></td>
                <td></td>
                <td style="color: red"><%= c.amount %></td>
                <% } %>
                <td></td>
                <td>____%</td>
            </tr>
        <% }) %>
    </tbody>
</table>

<br><br>
<a href="/budgets/<%= budget._id %>/categories" method="GET">Review / Add Categories</a>

<%- include('../partials/footer') %>