<%- include('../partials/header') %>

<h2 align="center"><%=budget.month%> <%=budget.year%> Budget</h2>
<br>
<table>
    <thead>
    <tr>
        <th>Category</th>
        <th>Note</th>
        <th>Budget</th>
        <th>Actual</th>
        <th>% of Income</th>
    </tr>
    </thead>
    <tbody>
        <% let totalIncome = 0 %>
        <% let totalBudgetIncome = 0 %>
        <% let totalExpenses = 0 %>
        <% let totalBudgetExpenses = 0 %>
        <% let totalSavings = 0 %>
        <% let totalBudgetSavings = 0 %>
        <% category.forEach(function(c) { %>
            <tr class="income">
            <% if(c.name === "Income") { %>
                <td><%= c.name %></td>
                <td><%= c.note %></td>
                <td>$<%= c.budgetAmt %></td>
                <td>$<%= c.actualAmt %></td>  
                <td>____%</td>
            </tr>
            <% }}) %>
            <% category.forEach(function(c) { %>
                <% if(c.name === "Income") { %>
                    <% totalIncome += c.actualAmt %>
                    <% totalBudgetIncome += c.budgetAmt %>
                    <% }}) %>
            <tr class="total">
                <td style="border-top: 4px solid black;">TOTAL INCOME</td>
                <td style="border-top: 4px solid black;"></td>
                <td style="border-top: 4px solid black;">$<%= totalBudgetIncome %></td>
                <td style="border-top: 4px solid black;">$<%= totalIncome %></td>
                <td style="border-top: 4px solid black;">___%</td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        <% category.forEach(function(c) { %>
            <% if(c.name !== "Income" & c.name !== "Savings") { %>
            <tr class="expenses">    
                <td><%= c.name %></td>
                <td><%= c.note %></td>
                <td>$<%= c.budgetAmt %></td>
                <td>$<%= c.actualAmt %></td>  
                <td>____%</td>
            </tr>
            <% }}) %>
            <% category.forEach(function(c) { %>
                    <% if(c.name !== "Income" & c.name !== "Savings") { %>
                        <% totalExpenses += c.actualAmt; %>
                        <% totalBudgetExpenses += c.budgetAmt %>
                        <% }}) %>
            <tr class="total">
                <td style="border-top: 4px solid black;">TOTAL EXPENSES</td>
                <td style="border-top: 4px solid black;"></td>
                <td style="border-top: 4px solid black;">$<%= totalBudgetExpenses %></td>
                <td style="border-top: 4px solid black;">$<%= totalExpenses %></td>
                <td style="border-top: 4px solid black;">___%</td>
            </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <% category.forEach(function(c) { %>
            <% if(c.name === "Savings") { %>
            <tr class="savings">
                <td><%= c.name %></td>
                <td><%= c.note %></td>
                <td>$<%= c.budgetAmt %></td>
                <td>$<%= c.actualAmt %></td>  
                <td>____%</td>
            </tr>
        <% }}) %>
            <% category.forEach(function(c) { %>
                    <% if(c.name === "Savings") { %>
                        <% totalSavings += c.actualAmt; %>
                        <% totalBudgetSavings += c.budgetAmt %>
                        <% }}) %>
            <tr class="total">
                <td style="border-top: 4px solid black;">TOTAL SAVINGS</td>
                <td style="border-top: 4px solid black;"></td>
                <td style="border-top: 4px solid black;">$<%= totalBudgetSavings %></td>
                <td style="border-top: 4px solid black;">$<%= totalSavings %></td>
                <td style="border-top: 4px solid black;">___%</td>
            </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
            <% let actualBalance = (totalIncome - totalExpenses - totalSavings) %>
            <% let budgetBalance = (totalBudgetIncome - totalBudgetExpenses - totalBudgetSavings) %>
            <tr class="total">
                <td style="border-top: 4px solid black;">BUDGET SURPLUS/(DEFICIT)</td>
                <td style="border-top: 4px solid black;"></td>
                <td style="border-top: 4px solid black;"> $<%= budgetBalance %> </td>
                <td style="border-top: 4px solid black;"> $<%= actualBalance %> </td>
                <td style="border-top: 4px solid black;"></td>
            </tr>
    </tbody>
</table>

<br><br>
<a href="/budgets/<%= budget._id %>/categories" method="GET">Review / Add Categories</a>

<%- include('../partials/footer') %>