<%- include('../partials/header') %>

<h2 align="center"><%=budget.month%> <%=budget.year%> Budget</h2>
<br>
<table>
    <thead>
    <tr>
        <th>Category</th>
        <th>Expected Amount</th>
        <th>Actual Amount</th>
        <th>% of Income</th>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    </thead>
    <tbody>
        <% category.forEach(function(c) { %>
            <tr class="income">
            <% if(c.name === "Income") { %>
                <td><%= c.name %></td>
                <td>$....</td> 
                <td>$<%= c.amount %></td>   
                <td>____%</td>
            </tr>
            <% }}) %>
            <tr class="total">
            <td style="border-top: 4px solid black;">TOTAL INCOME</td>
            <td style="border-top: 4px solid black;">$....</td>
            <td style="border-top: 4px solid black;">$....</td>
            <td style="border-top: 4px solid black;">....</td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        <% category.forEach(function(c) { %>
            <tr class="expenses">
            <% if(c.name !== "Income" & c.name !== "Savings") { %>
                <td><%= c.name %></td>
                <td>$....</td> 
                <td>$<%= c.amount %></td>   
                <td>____%</td>
            </tr>
            <% }}) %>
            <tr class="total">
                <td style="border-top: 4px solid black;">TOTAL EXPENSES</td>
                <td style="border-top: 4px solid black;">$....</td>
                <td style="border-top: 4px solid black;">$....</td>
                <td style="border-top: 4px solid black;">....</td>
            </tr>
        <tr></tr>
        <tr></tr>
        <% category.forEach(function(c) { %>
            <tr class="savings">
            <% if(c.name === "Savings") { %>
                <td><%= c.name %></td>
                <td>$....</td>
                <td>$<%= c.amount %></td>
                <td>____%</td>
            </tr>
            <% }}) %>
            <tr class="total">
            <td style="border-top: 4px solid black;">TOTAL SAVINGS</td>
            <td style="border-top: 4px solid black;">$....</td>
            <td style="border-top: 4px solid black;">$....</td>
            <td style="border-top: 4px solid black;">....</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
    </tbody>
</table>

<br><br>
<a href="/budgets/<%= budget._id %>/categories" method="GET">Review / Add Categories</a>

<%- include('../partials/footer') %>